@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
}
